.heading{
    color: red;
}

.paris{
    background-color: beige;
}

#london-heading{
    background-color: pink;
}

#paragraph-with-span{
    border: 10px;
    border-color: lightgreen;
    border-style: ridge;
    margin: 5px;
}

#span{
    padding: 0 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid gray;
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body{
    font-family: 'Courier New', Courier, monospace;
}